source ~/.vimrc

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
" Action List: https://gist.github.com/zchee/9c78f91cc5ad771c1f5d
"" Example: Map \b to toggle the breakpoint on the current line
" map \b <Action>(ToggleLineBreakpoint)
" map :action <action from action list> <CR> "CR means carriage return (enter)

" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
" Show Marks
Plug 'kshenoy/vim-signature'

nmap <space>ra :action RenameElement<CR>
nnoremap <A-n> :action GotoNextError<CR>
nnoremap <A-N> :action GotoPreviousError<CR>
nmap <A-l> <Action>(NextTab)
nmap <A-h> <Action>(PreviousTab)
nmap <A-w> <Action>(CloseEditor)
nmap <A-S-w> <Action>(CloseAllEditors)
nmap <A-S-C-w> <Action>(CloseAllButThis)

